<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <title>{{ title }} - XCHANGE的博客</title>
  <meta name="keywords" content="XCHANHE,Python,Django">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load staticfiles %}
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static "css/xcbase.css" %}">
  </head>
  <body>
    <div class="container">
      <div id="header" class="header">
        <h1>XCHANGE的博客</h1>
      </div>
      <div id="content" class="row">
        <div id="blogpost_list" class="col-md-9">
        {% block content %}{% endblock %}
        </div>
        <div id="sidebar" class="col-md-3">
          <div id="profile">
            <img src="{% static "img/gravatar.png" %}" alt="啊咧，这个人的头不见了！">
            <p>欧洲提督玩御城变成非洲城主怎么想都是DMM的错！另外虽然头像是女的但我100%是男的！</p>
          </div>
          {% load siderbar %}
          {% category_list %}
          {% archive_list %}
        </div>
      </div>
      <div id="footer" class="text-center">
        <address>XCHANGE.IM &copy; 2014</address>
      </div>
    </div>
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <div style="visibility:hidden">
      <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F725f3a097574e29301d61572fe3c6bca' type='text/javascript'%3E%3C/script%3E"));
      </script>
    </div>
  </body>
</html>