{% extends 'xcblog/base.html' %}

{% block content %}
<div class="blogpost">
  <h2 class="blogpost_title">{{ blogpost.title }}</h2>
  <div class="blogpost_content">
    {{ blogpost.content|safe }}
  </div>
  <p class="blogpost_info">分类：{{ blogpost.category }} | 创建时间：{{ blogpost.created_time|date:"Y-n-j G:i" }} | 修改时间：{{ blogpost.revised_time|date:"Y-n-j G:i" }} | 阅读次数：{{ blogpost.read_times }}</p>
</div>
<!-- 多说评论框 start -->
<div class="ds-thread" data-thread-key="b{{ blogpost.pk }}" data-title="{{ blogpost.title }}" data-url="http://xchange.im{% url 'xc-show-blogpost' blogpost.pk %}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"xchange"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
<!-- 多说公共JS代码 end -->
{% endblock %}
